@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
@font-face {
  font-family: "million_dreamsregular";
  src: url("fonts/million_dreams_regular-webfont.woff2") format("woff2"),
    url("fonts/million_dreams_regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  line-height: 1.15;
  scroll-behavior: smooth;
}

body {
  color: #252525;
  font: 15px "Montserrat", sans-serif;
  line-height: 25px;
  background-color: #fafafa;
}

.mobile-menu-button {
  display: none;
  color: #252525;
}

.nav-container .navbar-brand {
  height: 25px;
  position: absolute;
  margin-top: 22px;
  display: block;
}

.nav-container {
  position: relative;
  display: block;
  width: auto;
  height: 108px;
  padding: 18px 45px 18px 65px;
  z-index: 100;
  transition: all 0.5s;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  background-color: transparent;
  z-index: 1;
}

.nav {
  margin-top: 10px;
  float: right;
  display: flex;
}

.nav a {
  border-radius: 50px;
  display: inline-block;
  transition: all 0.3s;
  padding: 15px 18px;
  text-decoration: none;
  color: #252525;
  font-weight: 400;
  position: relative;
}

.nav ul {
  display: flex;
  list-style: none;
}

.nav a:hover {
  color: #ccd5ae;
}

.nav a.active {
  color: #ccd5ae;
  text-decoration: underline 2px;
  text-underline-offset: 8px;
}

.nav a::before {
  content: "";
  width: 0;
  height: 2px;
  display: block;
  position: absolute;
  bottom: 0px;
  margin-bottom: 10px;
  left: 0;
  transition: all 0.25s ease-out;
  background-color: #ccd5ae;
}

.nav a:hover::before {
  width: 60%;
  transform: translateX(34%);
}

.container {
  width: 70%;
  margin: 5rem auto;
  padding-bottom: 2rem;
}

 h1 {
  font-size: 50px;
  line-height: 3rem;
  margin-bottom: 2rem;
  position: relative;
  font-family: "million_dreamsregular";
}

 p {
  word-spacing: 0.1rem;
  font-size: 16px;
  line-height: 2rem;
  margin-bottom: 3rem;
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
}

.insta {
  color: #ccd5ae;
  text-decoration: none;
}

.image-grid, .image-grid1, .image-grid2, .image-grid3 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
}

.image-grid img, .image-grid1 img, .image-grid2 img, .image-grid3 img {
  width: 100%;
  height: auto;
  object-fit: cover;
  aspect-ratio: 1/1.2;
  border-radius: 15px;
}

.image-grid img:hover, .image-grid1 img:hover, .image-grid2 img:hover, .image-grid3 img:hover {
  cursor: pointer;
  transition: 0.3s;
  opacity: 0.9;
  transform: scale(98%);
}

@media (max-width: 768px) {
  .image-grid, .image-grid1, .image-grid2, .image-grid3 {
    grid-template-columns: repeat(2, 1fr);
  }
}

.modal {
  display: none;
  position: fixed;
  z-index: 100;
  padding-top: 50px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.95);
}

.modal-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-image {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  max-height: 80%;
  max-width: 75%;
  margin: auto; /* centraliza a imagem */
  transform: translate(-50%, -50%);
  border-radius: 5px;
}


.close {
  position: absolute;
  top: 20px;
  right: 30px;
  font-size: 25px;
  color: #fafafa;
  cursor: pointer;
}

.prev,
.next {
  position: absolute;
  top: 50%;
  font-size: 30px;
  color: #fafafa;
  cursor: pointer;
  padding: 15px;
  background-color: transparent;
  border: none;
  outline: none;
  transition: background-color 0.3s;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
  margin-right: 30px;
}

.prev {
  left: 0;
  margin-left: 30px;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

.container2 {
  display: flex;
  justify-content: space-between;
  width: 70%;
  margin: 8rem auto 3rem auto;
  color: #252525;
}

.container2 a {
  font-weight: 600;
  font-size: 18px;
}

.fa-solid.fa-angle-right {
  margin-left: 15px;
  margin-right: 0;
  font-size: 18px;
}

.btn {
  margin-top: 2rem;
  text-decoration: none;
  color: #252525;
}

.fa-solid.fa-angle-left {
  margin-right: 15px;
  margin-top: 1px;
  font-size: 18px;
}

.btn:hover {
  color: #79835c;
}

.wave {
  margin: 0px;
  width: 100%;
  height: 100%;
  display: block;
  margin-top: 20px;
}

.waves {
  margin-bottom: -7px;
}

.wavesx {
  margin-top: -21px;
  transform: rotate(180deg);
}

.fullbg {
  background-color: #ccd5ae;
}

.footer {
  color: #79835c;
  width: 100%;
  text-align: center;
  position: relative;
  top: 60px;
  padding-bottom: 3rem;
  font-size: 14px;
  margin-top: 5rem;
}

@media screen and (max-width: 560px) {
  .container {
    width: 78%;
  }

  .modal-image {
    max-height: 80%;
    max-width: 100%;
  }

  .prev, .next {
    margin: 0;
  }
}

@media only screen and (max-width: 768px) {
  .mobile-menu-button {
    display: block;
    position: absolute;
    right: 2.5rem;
    top: 2.3rem;
    background: none;
    border: none;
    font-size: 24px;
    z-index: 100;
    cursor: pointer;
  }

  .nav-container {
    padding-left: 45px;
  }

  .nav {
    background: #d5deb6;
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: -100%;
    z-index: 1;
    float: none;
    margin-top: 0;
    transition: top 0.5s ease-in;
  }

  .nav.show {
    display: flex;
    top: 0;
  }

  .fixed-position {
    position: fixed;
  }

  .nav a.active {
    color: #fff;
  }

  .nav a:hover {
    color: #fff;
  }

  .nav a::before {
    background-color: #fff;
  }

  .nav ul {
    margin-top: 0;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
  }

  .nav ul li a {
    font-size: 22px;
    margin-top: 10px;
  }

  .container2 a {
    font-size: 16px;
  }

  .container {
    width: 85%;
  }

}
